*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
backend/.env
node_modules/
.pytest_cache/
__pycache__/
*.db
build/
dist/
.coverage
htmlcov/
~$*.xlsx

